.homePage-style{
  min-height: calc(100vh - 60px);
  width: 100vw;
  transition: width 300ms;
  padding-top: 80px !important;
  background-color: var(--home-color);
  color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.search-style:focus{
  border-color: #9b0003 !important;
  box-shadow: 0 0 0 0.15rem #9b0003;
}

.search-style{
  width: 500px;
}

.fav-btn{
  transform: scale(1.3);
  background-color: #212529;
  color: #F8F9FA;
}

.fav-btn:hover{
  color: #FFC107;
  background-color: transparent;
  transition: 300ms;
}

.already-fav{
  transform: scale(1.3);
  color: #FFC107;
}

@media screen and (max-width: 768px) {
  .search-style{
    width: 100%;
  }
}


