@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono:wght@200&display=swap');

:root {
  --landing-color: #1D354C;
  --home-color: #1F3950;
  --movie-color: #20364E;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal_show{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 300ms;
}

.modal_overflow{
  overflow-y: hidden;
}
