.movie-box{
  height: 210px;
  width: 150px;
  cursor: pointer;
  background-size: cover;
  background-position: top;
  border-radius: 20px;
  -webkit-box-shadow: 8px 5px 15px -2px rgba(0,0,0,0.63); 
  box-shadow: 8px 5px 15px -2px rgba(0,0,0,0.63);
}

.title-style{
  width: 180px;
}

.movie-ubication{
  justify-content: start;
}

@media screen and (max-width: 768px) {
  .movie-ubication{
    justify-content: center;
  }

  .movie-box{
    width: 200px;
    height: 280px;
  }
}